<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">

  <div class="col-md-6">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control margin-fifteen' %>

      <%= f.label :password %>
      <%= link_to "(forgot password)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control margin-fifteen' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <div class="margin-forty">
      <h3> OR - Log in with Facebook </h5>
    </div>
    <!--
      Below we include the Login Button social plugin. This button uses
      the JavaScript SDK to present a graphical Login button that triggers
      the FB.login() function when clicked.
    -->

    <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>

    <div id="status">
    </div>

    <!-- <p class='margin-fifteen'>New user? <%= link_to "Sign up now!", new_user_path %></p> -->
  </div>
</div>
