<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label 'USAFH Number' %><br>
    <%= f.number_field :usfha_number %>
  </div>
  <div class="field">
    <%= f.label 'Current School' %><br>
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label 'Current Grade' %><br>
    <%= f.number_field :grade %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br>
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label 'Allergies'%><br>
    <%= f.text_field :allergies %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
